<div class="post-meta u-clearfix">
  <div id="share" class="share-menu">
    <a class="share-menu__btn" href="https://twitter.com/intent/tweet?text={{ site.url }}{{ page.url }} - {{page.title}} by @{{ site.owner.twitter_username }}"><span class="icon-twitter"> Tweet</span></a>

    <a class="share-menu__btn" href="#" onclick="
        window.open(
          'https://www.facebook.com/sharer/sharer.php?u='+encodeURIComponent(location.href),
          'facebook-share-dialog',
          'width=626,height=436');
        return false;"><span class="icon-facebook-rect"> Share</span>
    </a>
  </div>
</div>
